<div class="table__wrap">
  <table class="table">
    <thead>
      <tr>
        <th>id: </th>
        <th>ФИО: </th>
        <th>Пол: </th>
        <th>Дата рождения: </th>
        <th>Женат/замужем: </th>
        <th>ВУЗ: </th>
        <th>Номер телефона: </th>
        <th>Редактировать: </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let field of fields.controls; let idx = index" [formGroup]="field">
        <td>
          <span *ngIf="!field.get('isEdit').value">{{field.get('id').value}}</span>
          <div *ngIf="field.get('isEdit').value">
            <input
              type="text"
              name="id"
              formControlName="id">
            <p class="alert"
            *ngIf="field.get('id').invalid && field.get('id').touched">
              Не верное значение
            </p>
          </div>
        </td>
        <td>
          <span *ngIf="!field.get('isEdit').value">{{field.get('fullName').value}}</span>
          <div *ngIf="field.get('isEdit').value">
            <input
              type="text"
              name="name"
              formControlName="fullName">
            <p class="alert"
              *ngIf="field.get('fullName').invalid && field.get('fullName').touched">
              Не верное значение
            </p>
          </div>
        </td>
        <td>
          <span *ngIf="!field.get('isEdit').value">{{field.get('sex').value}}</span>
          <div *ngIf="field.get('isEdit').value">
            <input
              type="radio"
              name="sex"
              formControlName="sex" value="муж">
            <input
              type="radio"
              name="sex"
              formControlName="sex" value="жен">
            <p class="alert"
              *ngIf="field.get('sex').invalid && field.get('sex').touched">
              Не верное значение
            </p>
          </div>
        </td>
        <td>
          <span *ngIf="!field.get('isEdit').value">{{field.get('birthday').value}}</span>
          <div *ngIf="field.get('isEdit').value">
            <input
              type="date"
              name="date"
              formControlName="birthday">
            <p class="alert"
              *ngIf="field.get('birthday').invalid && field.get('birthday').touched">
              Не верное значение
            </p>
          </div>
        </td>
        <td>
          <span *ngIf="!field.get('isEdit').value">{{field.get('familyStatus').value ? 'Да' : 'Нет'}}</span>
          <div *ngIf="field.get('isEdit').value">
            <input
              formControlName="familyStatus"
              id="check{{idx}}"
              type="checkbox"
              name="family"
              value="женат">
            <label
              for="check{{idx}}">Да/Нет</label>
            <p class="alert"
              *ngIf="field.get('familyStatus').invalid && field.get('familyStatus').touched">
              Не верное значение
            </p>
          </div>
        </td>
        <td>
          <span *ngIf="!field.get('isEdit').value">{{field.get('education').value}}</span>
          <div *ngIf="field.get('isEdit').value">
            <select
              formControlName="education"
              name="education" >
              <option value="БНТУ">БНТУ</option>
              <option value="БАТУ">БАТУ</option>
              <option value="БГУИР">БГУИР</option>
              <option value="МИТСО">МИТСО</option>
            </select>
            <p class="alert"
              *ngIf="field.get('education').invalid && field.get('education').touched">
              Не верное значение
            </p>
          </div>
        </td>
        <td>
          <span *ngIf="!field.get('isEdit').value">{{field.get('phone').value}}</span>
          <div
            *ngIf="field.get('isEdit').value">
            <input
              formControlName="phone"
              [control]="field"
              appMask="(__) ______"
              type="tel"
              name="phone" >
            <p class="alert"
              *ngIf="field.get('phone').invalid && field.get('phone').touched">
              Не верное значение
            </p>
          </div>
        </td>
        <td>
          <button
            (click)="onDeleteData(idx)"
          >Удалить</button>
          <button
            *ngIf="!field.get('isEdit').value"
            (click)="onEditData(idx)">Редактировать</button>
          <button
            *ngIf="field.get('isEdit').value"
            (click)="onSaveData(idx)"
          >
            Сохранить
          </button>
          <button
            (click)="onAddData(idx)"
          >Добавить блок</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button
    (click)="onSubmit()"
  >Submit</button>
</div>
